<%= form_for(@watanprogram) do |f| %>
  <% if @watanprogram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watanprogram.errors.count, "error") %> prohibited this watanprogram from being saved:</h2>

      <ul>
      <% @watanprogram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <label class="col-sm-2 control-label">Name:</label>
      <div class="col-sm-10">
        <%= f.text_field :name %>
      </div>
    </div>



    <div class="field">
      <label class="col-sm-2 control-label">Body Section 1:</label>
      <div class="col-sm-10">
        <%= f.text_area :body, :id => "programbody" %>
      </div>
    </div>



    <div class="field">
      <label class="col-sm-2 control-label">Body Section 2:</label>
      <div class="col-sm-10">
        <%= f.text_area :body2, :id => "programbody2" %>
      </div>
    </div>


    <div class="field">
      <label class="col-sm-2 control-label">Body Section 3:</label>
      <div class="col-sm-10">
        <%= f.text_area :body3, :id => "programbody3" %>
      </div>
    </div>





    <div class="field">
      <label class="col-sm-2 control-label">Locations of Intervention:</label>
      <div class="col-sm-10">
        <%= f.text_area :locations, :id => "locations" %>
      </div>
    </div>





    <div class="actions">
      <%= f.submit class: "btn btn-small btn-primary" %>
  </div>
<% end %>


<script>



    $(function() {
        $('#programbody, #programbody2, #programbody3, #locations').froalaEditor({
            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
            heightMin: 100,
            heightMax: 600
        })
    });


</script>