<%= form_for(@watanprogram) do |f| %>
  <% if @watanprogram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watanprogram.errors.count, "error") %> prohibited this watanprogram from being saved:</h2>

      <ul>
      <% @watanprogram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>


    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <%= f.text_area :body, :id => "prgmblurb", :cols => "100", :rows => "15" %>

      </div>
    </div>


    <div class="form-group">
      <%= f.label 'Program Logo', :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= image_tag @watanprogram.image.url, :width => "100%", :class => "pull-left" %>

      </div>
      <%= f.label 'Replace', :class => "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= f.file_field :image, :class => "form-control" %>
      </div>
    </div>





    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>

    $(function() {
        $('#prgmblurb').froalaEditor()
    });
</script>