<p id="notice"><%= notice %></p>

<h1>Listing Watanprograms</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <% if user_signed_in? %>
      <th colspan="3"></th>
          <% end %>
    </tr>
  </thead>

  <tbody>
    <% @watanprograms.each do |watanprogram| %>
      <tr>
        <td><%= watanprogram.name %></td>
        <td><%= link_to 'Show', watanprogram %></td>

        <td> <% if user_signed_in? %><%= link_to 'Edit', edit_watanprogram_path(watanprogram) %><% end %></td>
        <td> <% if user_signed_in? %><%= link_to 'Destroy', watanprogram, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>

            </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watanprogram', new_watanprogram_path %>
