<div class="container">
  <p id="notice"><%= notice %></p>
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag @institute.logo.url, :width => "100", :class => "pull-left" %>
      <h1 class="page-header"><%= @institute.name %>
        <small></small>
      </h1>
    </div>


    <div class="col-lg-7">
      <p>

        <%= @institute.description.html_safe %>
      </p>
      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_institute_path(@institute), :class => "btn btn-small btn-primary" %> |
          <% end %>
      <%= link_to 'Back', institutes_path %>

</div>
      <div class="col-lg-5">
        <h3><%= @institute.name %> Projects</h3>
        <% @projects.each do |p| %>
            <%= link_to p.project.name, p.project %><br><br>

        <% end %>

        <h3><%= @institute.name %> News</h3>
        <% @posts.each do |i| %>
            <%= link_to i.post.title, i.post %><br><br>

        <% end %>
    </div>








    </div>
  </div>
</div>