<p id="notice"><%= notice %></p>

<h1>Listing Beneficiaries</h1>

<table>
  <thead>
    <tr>
      <th>Calcyear</th>
      <th>Calccount</th>
      <th>Watanprogram</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beneficiaries.each do |beneficiary| %>
      <tr>
        <td><%= beneficiary.calcyear %></td>
        <td><%= beneficiary.calccount %></td>
        <td><%= beneficiary.watanprogram_id %></td>
        <td><%= link_to 'Show', beneficiary %></td>
        <td><%= link_to 'Edit', edit_beneficiary_path(beneficiary) %></td>
        <td><%= link_to 'Destroy', beneficiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beneficiary', new_beneficiary_path %>
