
<!-- main-container start -->
<!-- ================ -->
<section id="contact" class="main-container">
  <br><br>
  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h2 class="page-title"><%= @contactpage.title.html_safe if @contactpage.title %></h2>
        <div class="separator-2 mb-20"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-md-8">

            <%= @contactpage.body.html_safe if @contactpage.body %>
          </div>
        </div>
      </div>
      <!-- main end -->

      <%= form_for(@websitecontact) do |f| %>
          <% if @websitecontact.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@websitecontact.errors.count, "error") %> prohibited this websitecontact from being saved:</h2>

                <ul>
                  <% @websitecontact.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.text_field :email %>
          </div>
          <div class="field">
            <%= f.label :subject %><br>
            <%= f.text_field :subject %>
          </div>
          <div class="field">
            <%= f.label :message %><br>
            <%= f.text_area :message %>
          </div>
          <% if user_signed_in? %>
          <div class="field">
            <%= f.label :recorded %><br>
            <%= f.check_box :recorded %>
          </div>
              <% end %>
          <div class="actions">
            <%= f.submit 'Submit', class: "btn btn-sm btn-primary" %>
          </div>
      <% end %>









    </div>
  </div>
</section>
<!-- main-container end -->
