

<section id="support" class="light-gray-bg pv-20">
<div class="container">
  <p id="notice"><%= notice %></p>



  <h2><%= @donatepage.title %></h2>

  <div class="col-md-6">
    <%= @donatepage.body.html_safe if @donatepage.body %>
  </div>
  <div class="col-md-6">
    <a href="" class="btn btn-success">Donate Now!</a>


  </div>



  <br>


</div>


<div class="container">
  <p id="notice"><%= notice %></p>



  <h2><%= @membershippage.title %></h2>

  <div class="col-md-6">
    <%= @membershippage.body.html_safe if @membershippage.body %>
  </div>
  <div class="col-md-6">
    <a href="" class="btn btn-success">Become a Watan Member!</a>
  </div>



  <br>


</div>
    </div>