<style>
.slider-banner-container ul.slides,
.slider-revolution-5-container ul.slides {
display: inline;
}

</style>
<div id="banner" class="banner clearfix">
<%= render :partial => 'visitors/slideshow' %>
  </div>

<section id="news" class="light-gray-bg pv-20">
  <div class="sectionbanner watandrakgray">Latest News</div>
  <br><br>
  <%= render :partial => 'visitors/latestnews' %>
</section>



<section id="about" class="main-container">
<%= render :partial => 'visitors/about' %>
</section>


<section id="donate" class="main-container">
    <div class="sectionbanner watandarkred">Donate</div>
  <br><br>
    <%= render :partial => 'visitors/donate' %>
</section>


<%= render :partial => 'visitors/contact' %>





<%#= render :partial => 'visitors/institutes' %>

<%#= render :partial => 'visitors/supportwatan' %>




<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>
