

<%= render :partial => 'visitors/slideshow' %>

<%= render :partial => 'visitors/latestnews' %>

<%= render :partial => 'visitors/about' %>
<%#= render :partial => 'visitors/institutes' %>
<%= render :partial => 'visitors/prgm_education' %>
<%= render :partial => 'visitors/supportwatan' %>
<%= render :partial => 'visitors/slidechecker' %>


<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>
