<style>
.slider-banner-container ul.slides,
.slider-revolution-5-container ul.slides {
display: inline;
}

</style>

<%= render :partial => 'visitors/slideshow' %>
<%= render :partial => 'visitors/about' %>
<%= render :partial => 'visitors/latestnews' %>

<%= render :partial => 'visitors/donate' %>



<%= render :partial => 'visitors/wherewework' %>
<%= render :partial => 'visitors/contact' %>

<%= render :partial => 'visitors/partners' %>




<%#= render :partial => 'visitors/institutes' %>

<%#= render :partial => 'visitors/supportwatan' %>




<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>
