<p id="notice"><%= notice %></p>

<h1>Listing Websitecontacts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
      <th>Recorded</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @websitecontacts.each do |websitecontact| %>
      <tr>
        <td><%= websitecontact.name %></td>
        <td><%= websitecontact.email %></td>
        <td><%= websitecontact.subject %></td>
        <td><%= websitecontact.message %></td>
        <td><%= websitecontact.recorded %></td>

        <td><%= link_to 'Edit', edit_websitecontact_path(websitecontact) %></td>
        <td><%= link_to 'Destroy', websitecontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Websitecontact', new_websitecontact_path %>
