<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
    <div class="field">
      <label class="col-sm-2 control-label">Body:</label>
      <div class="col-sm-10">
        <%= f.text_area :body, :id => "pagebody" %>
      </div>
    </div>



    <div class="field">
      <%= f.label :pagelocation %><br>
      <%= f.text_field :pagelocation %>
    </div>



    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>





<script>



    $(function() {
        $('#pagebody').froalaEditor({
            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
            heightMin: 100,
            heightMax: 600
        })
    });
    $(function() {
        $.FroalaEditor.DefineIcon('imageInfo', {NAME: 'info'});
        $.FroalaEditor.RegisterCommand('imageInfo', {
            title: 'Info',
            focus: false,
            undo: false,
            refreshAfterCallback: false,
            callback: function () {
                var $img = this.image.get();
                alert($img.attr('src'));
            }
        });

        $('#pagebody').froalaEditor({
            // Set image buttons, including the name
            // of the buttons defined in customImageButtons.
            imageEditButtons: ['imageDisplay', 'imageAlign', 'imageInfo', 'imageRemove']
        })
    });

</script>