<style>
  .modal-selectimg {
      width: 1200px;
  }
  .imgselect {
      max-height: 85px;
  }


  .imgradio {
      border: 1px solid #000;
      border-radius: 50%;
      margin: 0 0.5em;
      width: 1.5em;
      height: 1.5em;
      background-color: #ffa;
  }



</style>


<div class="container">
  <p id="notice"><%= notice %></p>
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @page.title %>
        <small></small>
      </h1>

      <p>
        <% if !@page.image1.nil? && @page.image1 != 0 %>
            <% if @page.imagewidth1.nil? %>
                <% iwidth="100%" %>
            <% else %>
                <% iwidth= @page.imagewidth1 %>
            <% end %>
            <% image1 = SiteImage.find(@page.image1) if @page.image1 %>
            <%= image_tag image1.image.url, width: iwidth %>
        <% end %>
        <% if user_signed_in? %>
        <%= link_to '#image1modal', 'data-toggle' => 'modal', :class => "btn btn-small btn-primary" do %>Add/Change Image<% end %>
      <% end %>
            </p>

      <p><%= @page.body.html_safe if @page.body %></p>

      <p>
        <% if !@page.image2.nil? && @page.image2 != 0 %>
           <% if @page.imagewidth2.nil? %>
              <% iwidth="100%" %>
           <% else %>
              <% iwidth= @page.imagewidth2 %>
           <% end %>
           <% image2 = SiteImage.find(@page.image2) if @page.image2 %>
           <%= image_tag image2.image.url, width: iwidth %>
         <% end %>
        <% if user_signed_in? %>
         <%= link_to '#image2modal', 'data-toggle' => 'modal', :class => "btn btn-small btn-primary" do %>Add/Change Image<% end %>
     <% end %>
            </p>


      <p><%= @page.body2.html_safe if @page.body2 %></p>

      <p>
        <% if !@page.image3.nil? && @page.image3 != 0 %>
            <% if @page.imagewidth3.nil? %>
                <% iwidth="100%" %>
            <% else %>
                <% iwidth= @page.imagewidth3 %>
            <% end %>
            <% image3 = SiteImage.find(@page.image3) if @page.image3 %>
            <%= image_tag image3.image.url, width: iwidth %>
        <% end %>
        <% if user_signed_in? %>
        <%= link_to '#image3modal', 'data-toggle' => 'modal', :class => "btn btn-small btn-primary" do %>Add/Change Image<% end %>
            <% end %>
      </p>


      <p><%= @page.body3.html_safe if @page.body3 %></p>

      <p>
        <% if !@page.image4.nil? && @page.image4 != 0 %>
            <% if @page.imagewidth4.nil? %>
                <% iwidth="100%" %>
            <% else %>
                <% iwidth= @page.imagewidth4 %>
            <% end %>
            <% image4 = SiteImage.find(@page.image4) if @page.image2 %>
            <%= image_tag image4.image.url, width: iwidth %>
        <% end %>
        <% if user_signed_in? %>
        <%= link_to '#image4modal', 'data-toggle' => 'modal', :class => "btn btn-small btn-primary" do %>Add/Change Image<% end %>
            <% end %>
      </p>



      <% if user_signed_in? %>
<%= link_to 'Edit', edit_page_path(@page), :class => "btn btn-small btn-primary" %> |
          <% end %>
<%= link_to 'Back', pages_path %>
</div>
      </div>
    </div>




<% @imagearray.each do |i| %>
<% mname = 'image' + i.to_s + 'modal' %>
<div class="modal fade" id="<%= mname %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-selectimg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h2 class="modal-title" id="myModalLabel"><%= mname %></h2>
        <h3>Select Image for this section or click "No Image"</h3>


      </div>
      <div class="modal-body">
        <%#= simple_form_for(@submission) do |f| %>


        <%= form_for(@page) do |f| %>
            <%= hidden_field_tag "imagenumber", i %>

            <div class="actions">
              <%= f.submit class: "btn btn-default pull-right" %>
            </div>




            Width of Image (in pixels )
            <% if i == 1 %>
                <%= f.number_field :imagewidth1, value:  @page.imagewidth1 %>
            <% elsif i == 2 %>
                <%= f.number_field :imagewidth2, value:  @page.imagewidth2 %>
            <% elsif i == 3 %>
                <%= f.number_field :imagewidth3, value:  @page.imagewidth3 %>
            <% elsif i == 4 %>
                <%= f.number_field :imagewidth4, value:  @page.imagewidth4 %>
            <% end %>


            <div class="row">

              <% if i == 1  %>
                  <%= f.radio_button :image1, 0, :checked => (@page.image1.nil? ), class: "imgradio" %>
              <% elsif i == 2 %>
                  <%= f.radio_button :image2, 0, :checked => (@page.image2.nil? ), class: "imgradio" %>
              <% elsif i == 3 %>
                  <%= f.radio_button :image3, 0, :checked => (@page.image3.nil? ), class: "imgradio" %>
              <% elsif i == 4  %>
                  <%= f.radio_button :image4, 0, :checked => (@page.image4.nil? ), class: "imgradio" %>
              <% end %>
              No image
              <br><br>
<hr>




              <% @images.each do |img| %>
                  <div class="col-md-4">
                    <div class="col-md-6">
                      <div style="border: #666 solid 5px">
                        <%= image_tag img.image.url, class: "imgselect" %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <%= img.name %>

                      <% if i == 1 %>
                          <%= f.radio_button :image1, img.id, class: "imgradio" %>
                      <% elsif i == 2 %>
                          <%= f.radio_button :image2, img.id,  class: "imgradio" %>
                      <% elsif i == 3 %>
                          <%= f.radio_button :image3, img.id,  class: "imgradio" %>
                      <% elsif i == 4 %>
                          <%= f.radio_button :image4, img.id,  class: "imgradio" %>
                      <% end %>


                    </div>
                  </div>


              <% end %>
            </div>



    <% end %>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>