


  <div class="panel-body">

    <%= form_for @post do |f| %>
        <div  class="form-horizontal">


      <div class="form-group">
        <%= f.label 'Show on Home Page?', :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">

          <%= f.check_box :on_homepage %>

        </div>
      </div>



      <div class="form-group">
        <label class="col-sm-2 control-label">Title:</label>
        <div class="col-sm-10">
          <%= f.text_field :title %>
        </div>
      </div>



      <div class="form-group">
        <label class="col-sm-2 control-label">Body Section 1:</label>
        <div class="col-sm-10">
          <%= f.text_area :body, :id => "postbody" %>
        </div>
      </div>



      <div class="form-group">
        <label class="col-sm-2 control-label">Body Section 2:</label>
        <div class="col-sm-10">
          <%= f.text_area :body2, :id => "postbody2" %>
        </div>
      </div>






      <div class="form-group">
        <%= f.label :published_at, :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :published_at, :as => :date_picker, :class => "form-control", :label => false %>

        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Is this an event?', :class => "col-sm-2 control-label" %>
        <div class="col-sm-10">

            <%= f.check_box :is_event %>

        </div>
      </div>

<div class="row" style="background-color: #ccc">
        <h3>Event Info</h3>

      <div class="form-group">
        <%= f.label :event_date, :class => "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :event_date, :as => :date_picker, :class => "form-control", :label => false %>

        </div>
        <%= f.label 'Time', :class => "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.time_select :event_time, :class => "form-control", :label => false %>

        </div>
      </div>


      <div class="form-group">
        <%= f.label 'Location', :class => "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :event_location, :class => "form-control", :label => false %>

        </div>
        <%= f.label 'Event Link', :class => "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :event_link, :class => "form-control", :label => false %>

        </div>
      </div>

</div>
      <div class="form-group">
        <%= f.label 'Watan Programs', :class => "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= hidden_field_tag "post[watanprogram_ids][]", nil %>
          <% Watanprogram.all.each do |program| %>
              <%= check_box_tag "post[watanprogram_ids][]", program.id,
                                @post.watanprogram_ids.include?(program.id), id: dom_id(program) %>
              <%= label_tag dom_id(program), program.name %><br>
          <% end %>


        </div>

      </div>




      <div class="form-group">
        <div class = "col-sm-2 control-label">
        <div class="col-sm-10">
          <%= f.submit :class => "btn btn-small btn-primary" %>

        </div>
      </div>



      </div>      ...
    <% end %>
    </div>




    <script>



        $(function() {
            $('#postbody, #postbody2').froalaEditor({
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
                heightMin: 100,
                heightMax: 600
            })
        });


    </script>