




<div class="container">
  <p id="notice"><%= notice %></p>
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <%= link_to 'Back to News', posts_path %>
    <div class="col-lg-12">
      <h3 class="page-header"><%= @post.title %>
        <small></small>
      </h3>
      <%= @post.published_at %>
    </div>
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-5">

      <%= image_tag @post.image.url, :width => "100%", :class => "pull-left" %>

      <% if user_signed_in? %>
          <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-small btn-primary" %>
      <% end %>
</div>


    <div class="col-lg-7">

      <p>

        <%= @post.body.html_safe %>
      </p>
      <p>
        <strong>Watan Program Areas:</strong>
        <% @post.watanprograms.each do |program| %>
            <%= link_to program.name, program %>
            &nbsp;|&nbsp;
        <% end %>
      </p>


      <p>
        <strong>Institutes:</strong>
        <% @post.institutes.each do |institute| %>
            <%= link_to institute.name, institute %>
            &nbsp;|&nbsp;
        <% end %>
      </p>

      <strong>Related News:</strong>
      <% @relatedposts.each do |related| %>
          <%= link_to related.post.title, related.post %><br>

      <% end %>







      </div>
  </div>
</div>

