
<style>
    .modal-selectimg {
        width: 1200px;
    }
    .imgselect {
        max-height: 85px;
    }


    .imgradio {
        border: 1px solid #000;
        border-radius: 50%;
        margin: 0 0.5em;
        width: 1.5em;
        height: 1.5em;
        background-color: #ffa;
    }



</style>



<div class="container">
  <p id="notice"><%= notice %></p>
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <%= link_to 'Back to News', posts_path %>
    <div class="col-lg-12">
      <h3 class="page-header"><%= @post.title %>
        <small></small>
      </h3>
      <%= @post.published_at %>
    </div>
  </div>
  <!-- /.row -->

<div class="row">
  <div class="col-md-8">
  <p>
    <% if !@post.image1.nil? && @post.image1 != 0 %>
        <% if @post.imagewidth1.nil? %>
            <% iwidth="100%" %>
        <% else %>
            <% iwidth= @post.imagewidth1 %>
        <% end %>
        <% image1 = SiteImage.find(@post.image1) if @post.image1 %>
        <%= image_tag image1.image.url, width: iwidth %>
    <% end %>
    <% if user_signed_in? %>
    <%= link_to '#image1modal', 'data-toggle' => 'modal', :class => "btn btn-small btn-primary" do %>Add/Change Image<% end %>
  <% end %>
        </p>

  <p><%= @post.body.html_safe if @post.body %></p>

  <p>
    <% if !@post.image2.nil? && @post.image2 != 0 %>
        <% if @post.imagewidth2.nil? %>
            <% iwidth="100%" %>
        <% else %>
            <% iwidth= @post.imagewidth2 %>
        <% end %>
        <% image2 = SiteImage.find(@post.image2) if @post.image2 %>
        <%= image_tag image2.image.url, width: iwidth %>
    <% end %>
    <% if user_signed_in? %>
    <%= link_to '#image2modal', 'data-toggle' => 'modal', :class => "btn btn-small btn-primary" do %>Add/Change Image<% end %>
  <% end %>
        </p>


  <p><%= @post.body2.html_safe if @post.body2 %></p>

  <p>
    <% if !@post.image3.nil? && @post.image3 != 0 %>
        <% if @post.imagewidth3.nil? %>
            <% iwidth="100%" %>
        <% else %>
            <% iwidth= @post.imagewidth3 %>
        <% end %>
        <% image3 = SiteImage.find(@post.image3) if @post.image3 %>
        <%= image_tag image3.image.url, width: iwidth %>
    <% end %>
    <% if user_signed_in? %>
    <%= link_to '#image3modal', 'data-toggle' => 'modal', :class => "btn btn-small btn-primary" do %>Add/Change Image<% end %>
        <% end %>
        </p>




    <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-small btn-primary" %>
    <% end %>


</div>


    <!-- Blog Post Content Column -->


    <div class="col-lg-4">


      <p>
        <strong>Watan Program Areas:</strong>
        <% @post.watanprograms.each do |program| %>
            <%= link_to program.name, program %>
            &nbsp;|&nbsp;
        <% end %>
      </p>




      <strong>Related News:</strong>
      <% @relatedposts.each do |related| %>
          <%= link_to related.post.title, related.post %><br>

      <% end %>







      </div>
  </div>
</div>





<% @imagearray.each do |i| %>
    <% mname = 'image' + i.to_s + 'modal' %>
    <div class="modal fade" id="<%= mname %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-selectimg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h2 class="modal-title" id="myModalLabel"><%= mname %></h2>
            <h3>Select Image for this section or click "No Image"</h3>


          </div>
          <div class="modal-body">
            <%#= simple_form_for(@submission) do |f| %>


            <%= form_for(@post) do |f| %>
                <%= hidden_field_tag "imagenumber", i %>

                <div class="actions">
                  <%= f.submit class: "btn btn-default pull-right" %>
                </div>




                Width of Image (in pixels )
                <% if i == 1 %>
                    <%= f.number_field :imagewidth1, value:  @post.imagewidth1 %>
                <% elsif i == 2 %>
                    <%= f.number_field :imagewidth2, value:  @post.imagewidth2 %>
                <% elsif i == 3 %>
                    <%= f.number_field :imagewidth3, value:  @post.imagewidth3 %>
                <% end %>


                <div class="row">

                  <% if i == 1  %>
                      <%= f.radio_button :image1, 0, :checked => (@post.image1.nil? ), class: "imgradio" %>
                  <% elsif i == 2 %>
                      <%= f.radio_button :image2, 0, :checked => (@post.image2.nil? ), class: "imgradio" %>
                  <% elsif i == 3 %>
                      <%= f.radio_button :image3, 0, :checked => (@post.image3.nil? ), class: "imgradio" %>

                  <% end %>
                  No image
                  <br><br>
                  <hr>




                  <% @images.each do |img| %>
                      <div class="col-md-4">
                        <div class="col-md-6">
                          <div style="border: #666 solid 5px">
                            <%= image_tag img.image.url, class: "imgselect" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <%= img.name %>

                          <% if i == 1 %>
                              <%= f.radio_button :image1, img.id, class: "imgradio" %>
                          <% elsif i == 2 %>
                              <%= f.radio_button :image2, img.id,  class: "imgradio" %>
                          <% elsif i == 3 %>
                              <%= f.radio_button :image3, img.id,  class: "imgradio" %>

                          <% end %>


                        </div>
                      </div>


                  <% end %>
                </div>



            <% end %>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% end %>