<% institutes = Institute.all %>




<div class="row" style="background-color: #fff">
  <div class="col-sm-6">Here we go</div>
  <div class="col-sm-6 <%= I18n.locale.to_s %> <%= @divright %>">
<span style="font-size: 16px">
    <span style="color: #ccc">Language:</span>
   <span style="font-size: 18px; font-weight:bold"> <%= link_to_unless_current "English", locale: "en" %></span> &nbsp;&nbsp;&nbsp;
      <span style="font-size: 18px; font-weight:bold"> <%= link_to_unless_current "العربية", locale: "ar" %></span>
</span>
  </div>
</div>







<!-- header-container start -->
<div class="header-container">

  <!-- header-top start -->
  <!-- classes:  -->
  <!-- "dark": dark version of header top e.g. class="header-top dark" -->
  <!-- "colored": colored version of header top e.g. class="header-top colored" -->
  <!-- ================ -->
  <div class="header-top dark ">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-5">
          <!-- header-top-first start -->
          <!-- ================ -->
          <div class="header-top-first clearfix">
            <ul class="social-links circle small clearfix hidden-xs">
              <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
              <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
              <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
              <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
              <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
              <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <div class="social-links hidden-lg hidden-md hidden-sm circle small">
              <div class="btn-group dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                <ul class="dropdown-menu dropdown-animation">
                  <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                  <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                  <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                  <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                  <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                  <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
                  <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- header-top-first end -->
        </div>
        <div class="col-xs-10 col-sm-7">

          <!-- header-top-second start -->
          <!-- ================ -->
          <div id="header-top-second"  class="clearfix text-right">
            <ul class="list-inline">
              <li><i class="fa fa-phone pr-5 pl-10"></i>+12 123 123 123</li>
              <li><i class="fa fa-envelope-o pr-5 pl-10"></i> theproject@mail.com</li>
            </ul>
          </div>
          <!-- header-top-second end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header-top end -->

  <!-- header start -->
  <!-- classes:  -->
  <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
  <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
  <!-- "full-width": mandatory class for the full-width menu layout -->
  <!-- "centered": mandatory class for the centered logo layout -->
  <!-- ================ -->
  <header class="header  fixed    clearfix">

    <div class="container">
      <div class="row">
        <div class="col-md-2 ">
          <!-- header-left start -->
          <!-- ================ -->
          <div class="header-left clearfix">

            <!-- logo -->
            <div id="logo" class="logo">
              <a href="#banner">      <%= image_tag("logo PNG_black_60.png", alt: "Watan Syria") %></a>

            </div>

            <!-- name-and-slogan -->
            <div class="site-slogan">

            </div>

          </div>
          <!-- header-left end -->

        </div>
        <div class="col-md-10">

          <!-- header-right start -->
          <!-- ================ -->
          <div class="header-right clearfix">

            <!-- main-navigation start -->
            <!-- classes: -->
            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
            <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
            <!-- ================ -->
            <div class="main-navigation  animated with-dropdown-buttons">

              <!-- navbar start -->
              <!-- ================ -->
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">

                  <!-- Toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>

                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <!-- main-menu -->
                    <ul class="nav navbar-nav ">

                      <!-- mega-menu start -->
                      <li><%= link_to 'Home', root_path %></li>

                      <li><%= link_to 'News', allposts_path %></li>
                      <!-- mega-menu end -->
                      <!-- mega-menu start -->
                      <!-- mega-menu end -->


                      <li class="dropdown ">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About</a>
                        <ul class="dropdown-menu">

                          <li>  something here</li>
                          <li>  something here</li>
                          <li>  something here</li>

                        </ul>
                      </li>





                      <li class="dropdown ">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Institutes</a>
                        <ul class="dropdown-menu">

                          <% institutes.each do |i| %>
                              <li ><%= link_to i.name, i %></li>
                          <% end %>

                        </ul>
                      </li>


                      <li><%= link_to 'Projects', allprojects_path %></li>

                      <!-- mega-menu start -->
                      <li class="dropdown  mega-menu narrow">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMIN</a>
                        <ul class="dropdown-menu">
                          <li>
                            <div class="row">
                              <div class="col-md-12">
                                <h4 class="title"><i class="fa fa-magic pr-10"></i> Administration Menu</h4>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="divider"></div>
                                    <ul class="menu">
                                      <li ><%= link_to 'Users', users_path %></li>

                                      <li ><a href="components-page-loaders.html"><i class="fa fa-circle-o-notch fa-spin"></i>Page Loaders <span class="badge">v1.1</span></a></li>
                                    </ul>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="divider"></div>
                                    <ul class="menu">
                                      <li ><%= link_to 'Static Pages', pages_path %></li>
                                      <li ><%= link_to 'Institutes', institutes_path %></li>
                                      <li ><%= link_to 'Slides', slides_path %></li>
                                      <li ><%= link_to 'Projects', projects_path %></li>
                                      <li ><%= link_to 'Program Areas', watanprograms_path %></li>
                                      <li ><%= link_to 'Countries', countries_path %></li>


                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>

                    </ul>
                    <!-- main-menu end -->

                    <!-- header buttons -->
                    <div class="header-dropdown-buttons">
                      <a href="mailto:theproject@info.com" class="btn btn-sm hidden-xs btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
                      <a href="mailto:theproject@info.com" class="btn btn-lg visible-xs btn-block btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
                    </div>
                    <!-- header buttons end-->

                  </div>

                </div>
              </nav>
              <!-- navbar end -->

            </div>
            <!-- main-navigation end -->
          </div>
          <!-- header-right end -->

        </div>
      </div>
    </div>

  </header>
  <!-- header end -->
</div>
<!-- header-container end -->
