<!-- header-top start -->
<!-- classes:  -->
<!-- "dark": dark version of header top e.g. class="header-top dark" -->
<!-- "colored": colored version of header top e.g. class="header-top colored" -->
<!-- ================ -->
<div class="header-top dark ">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-6 col-md-9">
        <!-- header-top-first start -->
        <!-- ================ -->
        <div class="header-top-first clearfix">
          <ul class="social-links circle small clearfix hidden-xs">




            <li class="twitter"><a target="_blank" href="https://twitter.com/WatanSyria"><i class="fa fa-twitter"></i></a></li>
            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com/company/watansyria"><i class="fa fa-linkedin"></i></a></li>
            <li class="youtube"><a target="_blank" href="http://www.youtube.com/user/WatanSyria"><i class="fa fa-youtube-play"></i></a></li>
            <li class="flickr"><a target="_blank" href="http://www.flickr.com/photos/100690720@N04/"><i class="fa fa-flickr"></i></a></li>
            <li class="facebook"><a target="_blank" href="https://www.facebook.com/WatanSyria"><i class="fa fa-facebook"></i></a></li>
            <li class="instagram"><a target="_blank" href="http://instagram.com/watansyria"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <div class="social-links hidden-lg hidden-md hidden-sm circle small">
            <div class="btn-group dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
              <ul class="dropdown-menu dropdown-animation">
                <li class="twitter"><a target="_blank" href="https://twitter.com/WatanSyria"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com/company/watansyria"><i class="fa fa-linkedin"></i></a></li>
                <li class="youtube"><a target="_blank" href="http://www.youtube.com/user/WatanSyria"><i class="fa fa-youtube-play"></i></a></li>
                <li class="flickr"><a target="_blank" href="http://www.flickr.com/photos/100690720@N04/"><i class="fa fa-flickr"></i></a></li>
                <li class="facebook"><a target="_blank" href="https://www.facebook.com/WatanSyria"><i class="fa fa-facebook"></i></a></li>
                <li class="instagram"><a target="_blank" href="http://instagram.com/watansyria"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          <ul class="list-inline hidden-sm hidden-xs pull-right">




<!---
            <li><%#= link_to_unless_current "English", locale: "en", class: "switch" %></li>
            <li><%#= link_to_unless_current "العربية", locale: "ar" %></li>
--->
            <li>Careers  |</li>
          <li>  Media  |</li>
          <li>  Contact Us</li>
          </ul>
        </div>
        <!-- header-top-first end -->
      </div>
      <div class="col-xs-9 col-sm-6 col-md-3">

        <!-- header-top-second start -->
        <!-- ================ -->
        <div id="header-top-second"  class="clearfix pull-right" >



            </div>
          </div>
          <!--  header top dropdowns end -->
        </div>
        <!-- header-top-second end -->
      </div>
    </div>

<!-- header-top end -->

<!-- header start -->
<!-- classes:  -->
<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
<!-- "full-width": mandatory class for the full-width menu layout -->
<!-- "centered": mandatory class for the centered logo layout -->
<!-- ================ -->
<header class="header  fixed   dark clearfix">

  <div class="container">
    <div class="row">


      <div class="col-md-1 ">
        <!-- header-left start -->
        <!-- ================ -->
        <div class="header-left clearfix">

          <!-- header dropdown buttons -->
          <div class="header-dropdown-buttons visible-xs">
            <div class="btn-group dropdown">

              <ul class="dropdown-menu dropdown-menu-right dropdown-animation">

              </ul>
            </div>
         </div>
          <!-- header dropdown buttons end-->

          <!-- logo -->
          <div id="logo" class="logo">
            <%= link_to root_path do %>

              <% end %>
            <a href="http://watansyria.org">  <%= image_tag("watanbluelogo_120.png", alt: "Watan Syria") %></a>
          </div>



        </div>
        <!-- header-left end -->

      </div>




      <div class="col-md-10">

        <!-- header-right start -->
        <!-- ================ -->
        <div class="header-right clearfix">

          <!-- main-navigation start -->
          <!-- classes: -->
          <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
          <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
          <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
          <!-- ================ -->
          <div class="main-navigation  animated with-dropdown-buttons">

            <!-- navbar start -->
            <!-- ================ -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">

                <!-- Toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                  <!-- main-menu -->
                  <ul class="nav navbar-nav pull-right">

                    <!-- mega-menu start -->



                    <li class="dropdown active">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">News</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Latest News', root_path(:anchor => 'news') %></li>
                        <li><%= link_to 'Archive', posts_path %></li>

                      </ul>
                    </li>



                    <li class="dropdown active">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Who We Are</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'About', root_path(:anchor => 'about') %></li>
                        <li><%= link_to page_path(13) do %>Mission and Objectives<% end %></li>
                        <li><%= link_to page_path(14) do %>Reach<% end %></li>
                        <li><%= link_to page_path(6) do %>Partners<% end %></li>

                    </ul>
                    </li>




                    <li class="dropdown active">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expertise</a>
                      <ul class="dropdown-menu">
                        <% @allprograms.each do |program| %>

                            <li><%= link_to program.name, program %></li>


                        <% end %>







                      </ul>
                    </li>

                    <li><%= link_to page_path(14) do %>Emergency<br>Response<% end %></li>

                    <li ><%= link_to page_path(7) do %>WATAN<br>Network<% end %></li>
                    <li ><%= link_to page_path(6) do %>Partners<% end %></li>


                      </ul>
                    </div>
                  </div>
                  <!-- header dropdown buttons end-->

                </div>

              </div>
            </nav>
            <!-- navbar end -->

          </div>
          <!-- main-navigation end -->


      <div class="col-md-1">
        <!-- header-left start -->
        <!-- ================ -->
        <%= link_to 'DONATE', root_path(:anchor => 'donate'), class: "btn btn-danger btn-xls pull-right" %>


      </div>













    </div>
        <!-- header-right end -->

      </div>
    </div>
  </div>

</header>
<!-- header end -->
</div>
<!-- header-container end -->