<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Watan Syria" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">






    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>


  <%# if params[:controller] == 'visitors' %>
     <body class="no-trans front-page transparent-header" onload="document.refresh();">
    <%# else %>
    <!--<body class="no-trans front-page transparent-header"">-->
<%# end %>

  <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

  <!-- page wrapper start -->
  <!-- ================ -->
  <div class="page-wrapper">

        <div class="header-container">
            <%= render 'layouts/watan_header' %>
        </div>


    <main role="main">
       <%= render 'layouts/messages' %>

       <%= yield %>
    </main>
    <div class="clearfix"></div>

      <%= render 'layouts/watan_footer' %>



    <% if user_signed_in? %>

        <div class="col-sm-6">
          <div class="divider"></div>
          <ul class="menu">
            <li ><%= link_to 'News', posts_path %></li>

            <li ><%= link_to 'Static Pages', pages_path %></li>
            <li ><%= link_to 'Institutes', institutes_path %></li>
            <li ><%= link_to 'Slides', slides_path %></li>
            <li ><%= link_to 'Projects', projects_path %></li>
            <li ><%= link_to 'Program Areas', watanprograms_path %></li>
            <li ><%= link_to 'Countries', countries_path %></li>


          </ul>
        </div>
        </div>
        <%= render :partial => 'visitors/slidechecker' %>
<% end %>







    <div style="background: #fff">


      <% if user_signed_in? %>
          <%= link_to 'Edit account', edit_user_registration_path %><br>
          <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %><br>
      <% else %>
          <%= link_to 'Sign in', new_user_session_path %><br>
          <%= link_to 'Sign up', new_user_registration_path %><br>
      <% end %>
      <% if user_signed_in? %>
          <%= link_to 'Users', users_path %><br>
      <% end %>



    </div>



    <%#= render 'layouts/b_footer' %>

     <script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;signed_in=true"></script>

  </body>
</html>
